*{
    padding:0;
    margin:0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
/* box-sizing:border-box; */
}


.hero{
    height:100vh;
    width: 100%;
    background-image: url("../kitchen.jpeg");
    background-size: cover;
    background-position: center;
}

.title{
width: 120px;
cursor:pointer;

}

.navbar {
    width: 85%;
    margin: auto;
    padding:35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    


.navbar ul li{
    display: inline-block;
    margin: 0 20px;
    font-size: 20px; 
    margin-top: 5px;
    
}

.navbar ul li a {
    color: black;
  display: flex;
   text-transform: uppercase;
   font-family: 'Ubuntu Mono', monospace;
/* webkit-transition:  ease-in-out; */
}


.navbar ul li:hover{
background-color: salmon;
width: 120px;
transition: linear, 1.5s;

}




h1{
    width: 25%;
    color: white;
    font-size: 50px;
    letter-spacing: 1px;
    margin-left:150px;
    text-align: start;
    font-family: 'Ubuntu Mono', monospace;
}

h2{
    font-family: 'Ubuntu Mono', monospace;
margin-bottom: 10px;
margin-right: 60px;
}


.search-btn{
    width: 200px;
    border-radius: 20px;
    text-align: center;
    background-color: whitesmoke;
    font-size: larger;
}

.search-btn:hover{
background-color: salmon;
}

.search{
    width: 75px;
    color: whitesmoke;
    background-color: whitesmoke;
    background: transparent;
    border:solid;
    border-radius: 20px;
}

.search:hover{
    color: salmon;
}

.about-us{
    width: 100%;
    position: absolute;
    top: 75%;
    text-align: center;
    color: white;
    
}

@media screen and (max-width: 992px){
    
        
    
}


@media screen and (max-width: 768px){

        
}


@media screen and (max-width: 600px) {


}

@media screen and (max-width: 400px){
   
        
        
}