*{
  margin: 0;
  padding: 0;
}
header{
  position: flex;
  flex-direction: row;
  text-align: center;
  margin-left: 500px;
}
h1{
  color: black;
  text-decoration: underline;
}


.nav-bar{
  position: flex;
  flex-direction: row;
text-align: end;
padding: 5px;
margin-left: 500px;
border-bottom-style: solid;
}

.side-bar {
position: fixed;
top: 0;
left: 0;
width: 400px;
height: 100%;
background: linear-gradient(#9A879D,#7A3B69);
display: flex;
flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 50px;
  }
.scrollbar{
  overflow: auto;
}
.scrollbar-inner{
  font-size: 20px;
  color: black;
}
.search-btn{
  width: 100%;
}

 body{ 
  min-height: 100vh;
  background:linear-gradient(#D7DEDC,#CFCFCD );
 }
  ::-webkit-scrollbar{
    width: 10px;
  } 

  ::-webkit-scrollbar-track{
  background:#7A3B69;
  }

  ::-webkit-scrollbar-thumb{
    
    background:#9A879D ;
    border-radius: 10px;
  }

.recipe{
  width:min-content ;
  border-radius: 60px;
  float: right;
  margin-left: 65px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.grid-container-1{
grid-auto-columns: minmax(150px, auto);
}


/* .grid-container-2{


} */

.grid-item-1{
text-align: center;
margin-left: 500px;
}

/* .grid-item-2{
  text-align: center;
  margin-left: 500px;

}

  .grid-item-3{
    text-align: center;
  margin-left: 500px;
  } */
  
  h3{
    text-align: center;
    margin-left: 500px;
  }