body {
  background-color: aliceblue;
}
.container {
  text-align: center;
}
p {
  font-size: 1.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#user-input {
  height: 40px;
  width: 500px;
  border: solid 5px rgba(0, 0, 0, 0.656);
  border-radius: 20px;
  font-size: 1.5rem;
}
#search-btn {
  height: 50px;
  width: 100px;
  border: solid 5px rgba(0, 0, 0, 0.656);
  border-radius: 20px;
  font-size: 1.5rem;
}

/* ul{
  display: flex;
  flex-wrap: wrap;
} */
img{
  display: flex;
}
