:root {
    --grey: #8f797ead;
    --light-pink: #ffc3b5b4;
    --purple: #646c8fa9;
    --light-tan: #ffe3ccb0;
    --tan: #dcc3a1a8;
  }

  body{
    padding: 0;
    margin: 0;
    /* background-image: linear-gradient(#8F797E7a, #ffe3cc7a); */
    background-image: url("../jason-briscoe-GliaHAJ3_5A-unsplash.jpg");

    background-size: cover;
    background-position: center;

  }

* {
    text-align: center;
    /* color: var(--purple); */
    border: none;
    margin: 15px 0;
    padding:0;
    margin:0;
}

/* body {
    margin:0px;
    padding: 0px;


} */

.suggestionsPart {

    width: 80%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    background-color: var(--grey);
    margin: 0 10% 10% 10%;
    padding: 15px;
}


button {
    background-color: var(--tan);
    padding: 5px;
    border-radius: 5px;
    
}

li {
    list-style: none;

}


.parameters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* background-color: var(--green); */
}
.dropdownSection {
    margin: 30px;
}

.dropdownSection > select {
    width:150px;
    border-radius: 5px;
    background-color:var(--light-pink);
    padding: 5px;
}

.dropdown {

}

.checkBoxes  {
    border-radius: 5px;
    Width:400px;
    height: 500px;
    margin: 20px;
    padding: 40px;
    background-color: var(--tan);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.suggestionsPage {
    display: none;
}

.mainDiv {
    display:flex;
}

.suggestionsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 400;
    padding: 0;
}

.suggestionsList li {
    list-style: none;
    background-color: var(--light-tan);
    border-radius: 20px;
    margin: 10px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    flex: 1 1 400px;
    justify-content: space-between;
    /* width: 500px; */
}
.suggestionsList li img {
    align-self: center;
    border-radius: 5px;
}

.suggestionsList button {
    margin: 15px;
}

.heart {
    margin: 15px;
}

.suggestionsList h2 {
    width:300px;
}

.lists {
    display: flex;
}

.fullLength {
    width: 100%;
}
.aside {
    flex-direction: column;
    align-items: center;
}

/* .larger {
    width:80%;
}

.oSide {
    width:15%;
} */

.favoriteMealList {
    padding: 0;
}