:root {
    --dark-blue: #012030;
    --medBlue: #13678A;
    --teal: #45C4B0;
    --green: #9AEBA3;
    --yellow: #DAFDBA;
  }

  body {
    background-color: var(--yellow);
  }  

* {
    text-align: center;
}

body {
    margin:0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}
li {
    list-style: none;
}


.parameters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* background-color: var(--green); */
}
.dropdownSection {
    margin: 30px;
}

.dropdownSection > select {
    width:150px;
    border-radius: 5px;
    border: none;
    background-color: lightgray;
}

.dropdown {
    background-color: var(--teal);
}

.checkBoxes  {
    border-radius: 5px;
    Width:400px;
    height: 500px;
    margin: 20px;
    padding: 40px;
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.suggestionsPage {
    display: none;
}

.mainDiv {
    display:flex;
}

.suggestionsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 400;
    padding: 0;
}

.suggestionsList li {
    list-style: none;
    background-color: lightgray;
    border-radius: 5px;
    margin: 10px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    flex: 1 1 400px;
    justify-content: space-between;
    /* width: 500px; */
}
.suggestionsList li img {
    align-self: center;
    border-radius: 5px;
}

.suggestionsList button {
    margin: 15px;
}

.heart {
    margin: 15px;
}

.suggestionsList h2 {
    width:300px;
}

.lists {
    display: flex;
}

.fullLength {
    width: 100%;
}
.aside {
    flex-direction: column;
    align-items: center;
}

/* .larger {
    width:80%;
}

.oSide {
    width:15%;
} */

.favoriteMealList {
    padding: 0;
}