:root {
  --grey: #8F797E;
  --light-pink: #FFC2B5;
  --purple: #646C8F;
  --light-tan: #FFE3CC;
  --tan: #DCC3A1;
}

* {
  text-align: center;
    margin:0px;
    padding: 0px;


}

form {
      background-color: var(--purple);
      width: 300px;
      height: 44px;
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }


input {
      all: unset;
      font: 16px system-ui;
      color: var(--grey);
      height: 100%;
      width: 100%;
      padding: 6px 10px;
    }

::placeholder {
      color: var( --tan);
      opacity: 0.7; 
    }


    button {
      all: unset;
      cursor: pointer;
      width: 44px;
      height: 44px;
    }

.nutrient-search {
      display: flex;
      justify-content: center;
      background-color: var(--grey);
}
.nutrient-search * {
  padding: 5px;
}

.search-results{
  display: flex;
  justify-content: space-around;
}

/* testing */